.sidebar {
  flex: 3px;
  height: calc(100vh - 50px);
  background-color: green;
  /* overflow-y: scroll; */
}

.sidebarWrapper {
  padding: 20px;
  background-color: green;
}

.sidebarList {
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarListItemText {
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendsList {
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebarFriendName {
}
